@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ddd;
  font-size: 16px;
}

main {
  text-align: center;
  padding: 0.5rem;
}

main h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

main h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.container {
  background-color: #fff;
  padding: 1.5rem 1rem;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}

.container p:first-child {
  color: #777777;
}

input {
  display: block;
  width: 80%;
  margin: 1.5rem auto 1rem auto;
  border: none;
  border-bottom: 2px solid #0c6dff;
  padding: 0.5rem;
  font-size: 1.1rem;
}

button {
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  background-color: #0c6dff;
  padding: 0.5rem 1.1rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

button:hover {
  cursor: pointer;
  background-color: #055ada;
}

.callout {
  background-color: #00471b;
  color: #fff;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 1rem;
}

.callout p::before {
  content: "💡";
}

/* Media queries */
@media screen and (min-width: 768px) {
  main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
